<div>
    <h1>Menu Restaurant La Cola Feliz</h1>
</div>


<div class="menu" ng-repeat="especialidad in ctrl.obtenerEspecialidades()">
    <div class="especialidad">
        <h2>{{especialidad.nombre}}</h2>
        <div ng-repeat="tipo in especialidad.tipos">
            <div>
                <p style="display: inline">{{tipo.nombre}}</p> &nbsp;&nbsp;
                <p style="display: inline">--></p> &nbsp;&nbsp;
                <p style="display: inline">{{tipo.precio}} Bs.</p>
            </div>
        </div>
    </div>

</div>
