<div>
    <h1>Menu Restaurant La Cola Feliz</h1>
</div>

<!-- Plantilla de Menu (Vista) -->
<div class="menu" ng-repeat="especialidad in menuVm.menu" ng-if="!menuVm.flagEditaMenu">
    <div class="especialidad">
        <h2>{{especialidad.nombre}}</h2>
        <div ng-repeat="tipo in especialidad.tipos">
            <ul>
                <li>{{tipo.nombre}} => {{tipo.precio}} Bs.</li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="!menuVm.flagEditaMenu">
    <input type="button" value="Activar Edición" ng-click="menuVm.editarMenu();" />
</div>

<!-- Plantilla de Menu (Editable) -->
<div class="menu" ng-repeat="especialidad in menuVm.menu" ng-if="menuVm.flagEditaMenu">
    <div class="especialidad">
        <input type="text" value="{{especialidad.nombre}}" />
        <div ng-repeat="tipo in especialidad.tipos">
            <!-- el ng-model en cada caso permite la modificación del resultado impreso a través de Angular -->
            <ul>
                <li><input type="text" value="{{tipo.nombre}}" ng-model="tipo.nombre" /> => 
                    <input type="text" value="{{tipo.precio}}" ng-model="tipo.precio" /> Bs. 
                    | <input type="checkbox" />
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="menuVm.flagEditaMenu">
    <input type="button" value="Modo Vista" ng-click="menuVm.vistaMenu();" />
</div>
